body {
  font-family: 'Dancing Script', cursive;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
  background-image: url("background2.webp");
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-height: 100vh;
}

button {
  font-size: 28px;
  padding: 15px 30px;
  margin: 10px;
}

#no {
  position: absolute;
  left: 120px;
  transition: opacity 0.1s ease;

}

#surprise {
  transform: scale(0);
  opacity: 0;
  transition: opacity 5s ease, transform 5s ease;
}

#result1 {
  opacity: 0;
  transition: opacity 0.8s ease;
}
#yes  {
  position: relative;
  font-size: 28px;
  transition: opacity 0.1s ease;
  right: 120px;

}

#button-container  {
  position: relative;
  display: inline-block;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  align-items: center;
  height: 100px;
  width: 200px;

}